.default-page {

  // layout
  .content-container {
    width: 90%;
    max-width: $app-max-width;
    margin: 0 auto;
  }

  // styles
  .page-header {
    background: $dark-blue;
    color: white;
    line-height: 1;
    padding: 4rem;
    text-align: center;

    .lead-text {
      font-size: 1.8rem;
    }
  }

  .page-content {
    margin: 2rem auto 4rem;
  }
}