.home-page {
  .page-header {
    padding: 6rem 4rem;

    .button { margin-top: 2rem; }
  }
  .page-content {
    text-align: center;

    .lead-text {
      padding-top: 2rem;
      
      + p { margin-bottom: 3rem }
    }
  }
}