
// Brand colours
$accent-color: #F15F43;
$dark-blue: #0F4B8F;
$light-blue: #33A4E3;
$extra-light-blue: #D5E3EF;
$more-blue: #0F7DC2;

// Layout colours
$body-bg: #f1f1f1;
$body-color: #333;

$header-bg: white;
$header-color: $dark-blue;